
div.emaildiv.indent0 { border:none; margin-left:0;}
div.emaildiv.indent1 {    margin-left:2em;}
div.emaildiv.indent2 {   margin-left:3em;}
div.emaildiv.indent3 {    margin-left:4em;}
div.emaildiv.indent4 {    margin-left:5em;}
div.emaildiv.indent5 {   margin-left:6em;}
div.emaildiv.indent6 {    margin-left:7em;}
div.emaildiv.indent7 {   margin-left:8em;}
div.emaildiv.indent8 {    margin-left:9em;}
div.emaildiv.indent9 {    margin-left:10em;}
div.emaildiv.indent10 {  margin-left:11em;}
div.emaildiv.indent11 {   margin-left:12em;}
div.emaildiv.indent12 {  margin-left:13em;}
div.emaildiv.indent13 {   margin-left:14em;}
div.emaildiv.indent14 {   margin-left:15em;}
div.emaildiv.indent15 {  margin-left:16em;}
div.emaildiv.indent16 {   margin-left:17em;}
div.emaildiv.indent17 {  margin-left:18em;}
div.emaildiv.indent18 {   margin-left:19em;}
div.emaildiv.indent19 {  margin-left:20em;}
div.emaildiv.indent20 {  margin-left:21em;}

div.emaildiv.author0 { color:black }
div.emaildiv.author1 { color:green }
div.emaildiv.author2 { color:blue }
div.emaildiv.author3 { color:red }

.emaildiv { 
color:purple;
 border:3px solid grey;
 margin-left:22em;
margin-top:1em;
font-size:0.9em;
  -moz-border-radius: 9px 9px 9px 9px;
  -webkit-border-radius: 9px 9px 9px 9px;
  border-radius: 9px 9px 9px 9px;
}
.emaildivauthor { font-size:0.7em;clear: right }

input#hidecomments { float:right; opacity:0.5;}